In [1]:
from get_sentiment import get_sentiment
import pandas as pd

In [2]:
text = ['Unemployment is rising at high speed', 'The economy is slowing down and unemployment is booming']
include = ['unemployment', 'economy']

get_sentiment(text = text, include = include)

,Doc_id,Text,SpannedText,Chunk,Sentiment,Tense,Include
0,0,[Unemployment is rising at high speed],[Unemployment is rising at high speed],"---unemployment---+++___rise [VERB, VBG (0.55)...",-0.89875,[present],[unemployment]
1,1,[The economy is slowing down and unemployment ...,[economy is slowing],"---economy---+++slow [VERB, VBG (-0.3)]",-0.30000,[present],[economy]
2,1,[The economy is slowing down and unemployment ...,[unemployment is booming],"---unemployment---+++boom [VERB, VBG (0.8)]",-0.80000,[present],[unemployment]

In [3]:
df = pd.read_pickle(r'top_n_words_tfidf.pkl')
display(df)

,article,file_path,top_n_words
0,4509509,data/earning_call/4509509,"[3pl, peloton, savings, stabler, hardware, app..."
1,4508877,data/earning_call/4508877,"[oneweb, caleb, backhaul, anders, bharti, 3gpp..."
2,4509199,data/earning_call/4509199,"[patients, oxybates, avadel, francois, sodium,..."
3,4509360,data/earning_call/4509360,"[brooks, clinicians, daniels, notes, klee, all..."
4,4509536,data/earning_call/4509536,"[merchants, cupito, zayas, siegler, 842, medli..."
...,...,...,...
778,4508661,data/earning_call/4508661,"[silber, rosenbaum, shlomo, students, enrollme..."
779,4508659,data/earning_call/4508659,"[patients, cells, gil, morphological, futility..."
780,4508833,data/earning_call/4508833,"[malaysia, telephonics, bucknall, crawford, to..."
781,4509740,data/earning_call/4509740,"[fibroids, gnrh, uneek, endometriosis, women, ..."
782,4509324,data/earning_call/4509324,"[aco, garipalli, ca, dce, derrick, pcps, nuema..."

In [4]:
with open(df.file_path[0]) as file:
    earning_call = file.read()
    include = df.top_n_words
    result = get_sentiment(text = earning_call, include = include)
    display(result)

FileNotFoundError: [Errno 2] No such file or directory: 'data/earning_call/4509509'

In [ ]:
with open("data/earning_call/4508397","r") as file:
    earning_call = file.read()
    #tmp = earning_call.replace("\n", ".").split(".")
    #earning_call = []
    #to_remove = ['', ' ']
    #for word in tmp:
    #    if word not in to_remove:
    #        earning_call.append(word)
    #print(earning_call)
    include = ['quarter', "business"]
    result = get_sentiment(text = [earning_call], include= include)
    display(result)